timeline_for_invoicing__add_zipcode/out
timeline_for_invoicing__add_zipcode/classes
timeline_for_invoicing__add_zipcode/input_data

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Rimozioni specifiche del progetto
bi_or_not_bi/rstudio-server/workspace/data
bi_or_not_bi/rstudio-server/workspace/derby.log
bi_or_not_bi/rstudio-server/workspace/.env
bi_or_not_bi/rstudio-server/.env
pn-troubleshooting/shutdown_pn/output
pn-troubleshooting/prepare_manifest_for_S3_batch_operations/output
extract_log_from_s3/output

### Rstudio ###
.Rproj.user

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### MAC ###
**/.DS_Store

### Node.js ###
node_modules/

data_extractor/results

replace_certificate/backup

legal_conservation_error_extractor/result
**/backup
**/file
**/files
**/result
**/results

### Script-specific ###
check_ss_events_dlq/temp/sqs_dump.txt
