# Ambiente: prod oppure uat.
ENV=prod

# Selfcare e chiave della client assertion per l'esecuzione locale.
SELFCARE_APIKEY=<selfcare-api-key>
PRIVATE_KEY_PATH=/absolute/path/client_assertion_private.pem

MAX_DAILY_CALLS=30000
SELFCARE_MAX_RETRIES=5
SELFCARE_MIN_REQUEST_INTERVAL_MS=750
PDND_MIN_REQUEST_INTERVAL_MS=750
CLIENT_ASSERTION_TTL_SECONDS=600

# Override opzionali.
# BASE_URL=interop.pagopa.it
# SERVICE_ID=cfc8a94d-001a-4ab6-bb5c-2509b2a68af1
# ISSUER=0203fdcf-644d-40d3-8b0e-f780bbf4bcc1
# PRODUCER_ID=4a4149af-172e-4950-9cc8-63ccc9a6d865
# KID=MBZ2A_albOEL9j5I4AzyVsFVPVPvaLKpTYRXAOXon6o
